@import "tailwindcss";
@import "tw-animate-css";

@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root,
.CockpitLight,
.FinanceLight,
.TraderLight {
  /* shadcn variables */
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --radius: 0.625rem;
}

:root,
.CockpitLight,
.FinanceLight,
.TraderLight {
  /* Alert colors */
  --info: oklch(0.623 0.214 259.815);
  --info-foreground: oklch(1 0 0);
  --success: oklch(0.723 0.219 149.579);
  --success-foreground: oklch(1 0 0);
  --warning: oklch(0.795 0.184 86.047);
  --warning-foreground: oklch(0.145 0 0);
  --danger: oklch(0.577 0.245 27.325);
  --danger-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
}

:root,
.dark,
.CockpitLight,
.FinanceLight,
.TraderLight,
.CockpitDark,
.FinanceDark,
.TraderDark {
  /* Global Brand Colors */
  --admin: oklch(70.4% 0.14 182.503);
  --admin-foreground: oklch(0.985 0 0);
  --cockpit: oklch(0.685 0.169 237.323);
  --cockpit-foreground: oklch(0.985 0 0);
  --finance: oklch(0.637 0.237 25.331);
  --finance-foreground: oklch(0.985 0 0);
  --trader: oklch(0.705 0.213 47.604);
  --trader-foreground: oklch(0.145 0 0);
}

.dark,
.CockpitDark,
.FinanceDark,
.TraderDark {
  /* shadcn variables */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.556 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

.dark,
.CockpitDark,
.FinanceDark,
.TraderDark {
  /* alert colors */
  --info: oklch(0.379 0.146 265.522);
  --info-foreground: oklch(0.985 0 0);
  --success: oklch(0.393 0.095 152.535);
  --success-foreground: oklch(0.985 0 0);
  --warning: oklch(0.554 0.135 66.442);
  --warning-foreground: oklch(0.985 0 0);
  --danger: oklch(0.396 0.141 25.723);
  --danger-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.985 0 0);
}

.theme-cockpit,
.CockpitLight,
.CockpitDark {
  --primary: oklch(0.685 0.169 237.323);
  --primary-foreground: oklch(0.985 0 0);
}

.theme-finance,
.FinanceLight,
.FinanceDark {
  --primary: oklch(0.637 0.237 25.331);
  --primary-foreground: oklch(0.985 0 0);
}

.theme-trader,
.TraderLight,
.TraderDark {
  --primary: oklch(0.705 0.213 47.604);
  --primary-foreground: oklch(0.145 0 0);
}

.theme-admin,
.AdminLight,
.AdminDark {
  --primary: oklch(70.4% 0.14 182.503);
  --primary-foreground: oklch(0.985 0 0);
}

@theme inline {
  /* shadcn variables */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-admin: var(--admin);
  --color-admin-foreground: var(--admin-foreground);
  --color-cockpit: var(--cockpit);
  --color-cockpit-foreground: var(--cockpit-foreground);
  --color-finance: var(--finance);
  --color-finance-foreground: var(--finance-foreground);
  --color-trader: var(--trader);
  --color-trader-foreground: var(--trader-foreground);
  --font-sans: var(--font-sourcesans);
}

@theme inline {
  /* Alert Colors */
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-danger: var(--danger);
  --color-danger-foreground: var(--danger-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
}

@theme inline {
  /* radius configuration */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@theme {
  --breakpoint-2xl: 80rem;
}

@utility container {
  padding-top: 1.5rem;
  margin: auto;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
