# This action is liniting the code coming from a new PR. If there is anythging to approve the autofix.ci Bot will then apply those fixes automaticcally with a new commit.

# https://github.com/kentcdodds/kentcdodds.com/blob/main/.github/workflows/deployment.yml
name: autofix.ci # needed to securely identify the workflow
on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  autofix:
    name: autofix
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Set up pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
          cache: "pnpm"

      - name: Download deps
        run: pnpm install

      - name: Code formatting with Biome and Ultracite
        run: pnpm turbo run format:root

      - name: Apply fixes
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
        with:
          commit-message: "chore(autofix): Apply format fixes"
